# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist_electron/

# Portables
node_portable/
git_portable/
get_node.ps1
get_git.ps1
run_npm.js
install_deps.js

# Databases locais e logs de runtime
*.db
*_log.txt
*.log

